.navbar {
  background-color: #C38A56;
  height: 80px;
  font-size: large;
  p {
    margin: 0px;
    color: #FFFAEA;
  }
}

.nav-item {
  border-bottom: #FFFAEA 1px solid;
}

.logotipo {
  width: 60px;
  border-radius: 50%;
}

.login-home {
  width: 60px;
  border-radius: 4px;
  background-color: #FFFAEA !important;
  box-shadow: 0px 0px 2px #a59465d5;
  transition: 0.3s;
  p {
    color: #9C6A3E;
  }
  &:hover {
    // background-color: #f8e5ad !important;
    font-weight: bold;
  }
}
